html{
    font-family: 'Space Mono', monospace;
    max-width: $DestopWidth;
    min-width: $MobileWidth;
    margin: auto;
    background-color: $LightGrayishCyan;
    // font-size: $FontSize;
}

body{
    border-radius: 10px;
    background-color: white;
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0;
    }
}

.main{
    display: flex;
}

.container{
    padding: 1rem;
    .input-bar{
        display: flex;
        justify-content: space-between;
        input{
            border: none;
            outline: none;
            text-align: right;
        }
    }
    .tip-pad{
        &__row{
            padding: 0.5rem;
            .percent-button{
                font-weight: 700;
                background-color: $VeryDarkCyan;
                margin: 0.5rem;
                padding: 0.5rem 3rem 0.5rem 3rem;
                border-radius: 5px;
                color: white;
                cursor: pointer;

                &:target{
                    background-color: $strongCyan;
                  }


            

            }
            input{
                width: 10%;
                padding: 0 1rem 0 1rem;
                color: white;
                width: auto;
            }
            
        }
    }
}

.choice{
    background-color: $strongCyan;
}

.display{
    display: flex;
}



