html{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: $VeryDarkCyan;
    max-width: $DestopWidth;
    min-width: $MobileWidth;
    margin: auto;
    background-color: $LightGrayishCyan;
    h1{
        font-size: 30px;
        margin: 1rem;
    }
    h5{
        padding: .5rem;
    }
    // font-size: $FontSize;
}

body{
    
    min-width: 800px;
    align-self: center;
    margin: 7rem;
    border-radius: 10px;
    background-color: white;
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0;
    }
}

.main{
    display: flex;
    justify-content: center;
    width: auto;
}

.container{
    margin: 1rem;
    padding: 1rem;
    .input-bar{
        &__invalid{
            border: 1px solid red;
            // &::after{
            //     content: "Invalid Value";
            // }
        }
        background-color: $LightGrayishCyan2;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 10px;
        input{
            border: none;
            outline: none;
            text-align: right;
            font-family: 'Space Mono', monospace;
            font-weight: 700;
            font-size: $FontSize;
            color: $VeryDarkCyan;
            background-color: $LightGrayishCyan2;
            
        }
        img{
            height: 20%;
            align-self: center;
            padding-left: 1rem;
        }
    }
    .tip-pad{
        &__row{
            //padding: 0.5rem;
            display: flex;
            justify-content: space-between;
            .percent-button{
                font-weight: 700;
                background-color: $VeryDarkCyan;
                margin: 0.5rem;
                padding: .5rem;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                width: 5rem;
                text-align: center;

                &__target{
                    background-color: $strongCyan;
                    color: $VeryDarkCyan;
                }

                &:target{
                    background-color: $strongCyan;
                  }


            

            }
            input{
                color: white;
                font-family: 'Space Mono', monospace;
                outline: none;
                border: none;
            }
            
        }
    }

}

    
.right-side{
    background-color: $VeryDarkCyan;
    border-radius: 10px;
    margin: 2rem;
    padding: 1.5rem;
    flex-grow: 1;
 
    a{
        color: white;
        cursor: pointer;
        align-self: center;
        background-color: $strongCyan;
        margin: 0.5rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 5px;
        color: $VeryDarkCyan;
        cursor: pointer;
    }
}

.display{
    display: flex;
    justify-content: space-between;
    color: $strongCyan;
    border-radius: 10px;

    p{
        padding: 0;
        margin: .2rem;
        color: $LightGrayishCyan;
        font-size: 10px;
    }
    
}

.btn-disable{
    pointer-events: none;
    opacity: .4;
}



