html{
    font-family: 'Space Mono', monospace;
    color: $VeryDarkCyan;
    max-width: $DestopWidth;
    min-width: $MobileWidth;
    margin: auto;
    background-color: $LightGrayishCyan;
    h1{
        font-size: 40px;
        margin: 0.5rem;
    }
    h5{
        padding: .5rem;
    }
    // font-size: $FontSize;
}

body{
    border-radius: 10px;
    background-color: white;
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0;
    }
}

.main{
    display: flex;
    justify-content: center;
}

.container{
    padding: 1rem;
    .input-bar{
        background-color: $LightGrayishCyan2;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 10px;
        input{
            border: none;
            outline: none;
            text-align: right;
            font-family: 'Space Mono', monospace;
            font-weight: 400;
            outline: none;
            border: none;
            background-color: $LightGrayishCyan2;
            
        }
    }
    .tip-pad{
        &__row{
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;
            .percent-button{
                font-weight: 700;
                background-color: $VeryDarkCyan;
                margin: 0.5rem;
                padding: 0.5rem 2rem 0.5rem 2rem;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                width: 5rem;
                text-align: center;

                &__target{
                    background-color: $strongCyan;
                    color: $VeryDarkCyan;
                }

                &:target{
                    background-color: $strongCyan;
                  }


            

            }
            input{
                color: white;
                font-family: 'Space Mono', monospace;
                font-weight: 400;
                outline: none;
                border: none;
            }
            
        }
    }

}

    
.right-side{
    background-color: $VeryDarkCyan;
    border-radius: 10px;
    margin: 2rem;
    padding: 1.5rem;
    
    a{
        color: white;
    }
}

.display{
    display: flex;
    justify-content: space-between;
    color: $strongCyan;
    border-radius: 10px;

    
}



