$strongCyan: hsl(172, 67%, 45%);

// Neutral

$VeryDarkCyan: hsl(183, 100%, 15%);
$DarkGrayishCyan: hsl(186, 14%, 43%);
$DarkGrayishCyan1: hsl(184, 14%, 56%);
$LightGrayishCyan: hsl(185, 41%, 84%);
$LightGrayishCyan2: hsl(189, 41%, 97%);

// Fonts size
$FontSize: 24px;

//
$DestopWidth: 1440px ;
$MobileWidth: 375px;
